h2 {
    max-width: 600px;
    height: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 75px;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.2em;
}

h2::after {
    content: "";
    display: block;
    width: 118px;
    height: 6px;
    background-color: #32a94a;
    border: none;
    margin-top: 35px;
}

.title-white {
    color: white;
}

.title-white::after {
    background-color: black;
}

@media only screen  and (max-width : 749px) {
    h2 {
        font-size: 35px;
    }

    h2::after {
        width: 70px;
        height: 6px;
        margin-top: 35px;
    }
}