header
    .logo
    nav
        ul.topnav-ul
            li.topnav-li
                a.topnav-a(href="#expertise")
                    span Expertise
                    .icon-menu
                        svg(version="1.0" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve")
                            g
                                path( class="st0" d="M23,13.3l-5.6-0.7L15,7.2l-2.4,5.4L7,13.3l4.1,4l-1.1,5.8l5-2.9l5,2.9l-1.1-5.8L23,13.3z M15,18.8l-3.2,1.9 l0.7-3.8l-2.7-2.6l3.7-0.5l1.6-3.5l1.6,3.5l3.7,0.5l-2.7,2.6l0.7,3.8L15,18.8z")
            li.topnav-li
                a.topnav-a(href="#clients")
                    span Clients
                    .icon-menu
                        svg(version="1.0" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve")
                            g
                                path( class="st0"  d="M22,10.2h-3v-2c0-0.6-0.4-1-1-1H12c-0.6,0-0.9,0.4-0.9,1v2H8c-0.6,0-0.9,0.4-0.9,1v11c0,0.6,0.4,1,0.9,1H22 c0.6,0,1-0.4,1-1v-11C23,10.6,22.5,10.2,22,10.2 M12,8.2h6v2h-6V8.2z M22,22.2H8v-6l6,1.7v0.3c0,0.6,0.4,1,1,1c0.6,0,1-0.4,1-1 v-0.3l6-1.7V22.2z M22,15.2l-7,2l-7-2v-4h3.5h1h6h1H22V15.2z")
            li.topnav-li
                a.topnav-a(href="#about")
                    span About
                    .icon-menu
                        svg(version="1.0" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve")
                            g
                                path(class="st0" d="M17.1,16.1c1.1-0.7,1.9-2,1.9-3.4c0-2.2-1.8-4-4-4s-4,1.8-4,4c0,1.4,0.8,2.7,1.9,3.4c-2.3,0.9-3.9,3-3.9,5.6h1 h10h1C21,19.1,19.4,16.9,17.1,16.1 M10.1,20.7c0.4-2,1.9-3.5,3.9-3.9v-1.3c-1.2-0.4-2-1.5-2-2.8c0-1.7,1.3-3,3-3c1.7,0,3,1.3,3,3 c0,1.3-0.8,2.4-2,2.8v1.3c2,0.4,3.5,1.9,3.9,3.9H10.1z")
                                path(class="st0" d="M10.7,16.1C8.6,17,7,19.2,7,21.7h1C8,19.4,9.1,17.4,10.7,16.1")
                                path(class="st0" d="M10.9,16c0.1-0.1,0.2-0.1,0.3-0.2c-0.6-0.7-1-1.6-1.1-2.6c0-0.2-0.1-0.4-0.1-0.5c0-0. ,0-0.4,0.1-0.6 c0.2-1.3,0.8-2.4,1.7-3.2c-1.6,0.5-2.8,2-2.8,3.8C9,14.1,9.8,15.3,10.9,16")
                                path(class="st0" d="M19.4,16.1c1.6,1.3,2.7,3.3,2.7,5.5h1C23,19.2,21.5,17,19.4,16.1")
                                path(class="st0" d="M20.1,12.7c0,0.2,0,0.4-0.1,0.5c-0.1,1-0.5,1.9-1.1,2.6c0.1,0.1,0.2,0.1,0.3,0.2c1.1-0.7,1.8-1.9,1.8-3.4 c0-1.8-1.1-3.3-2.7-3.8c0.9,0.8,1.5,1.9,1.7,3.2C20,12.3,20.1,12.5,20.1,12.7")
            li.topnav-li
                a.topnav-a(href="#contact-us")
                    span Blog
                    .icon-menu
                        svg(version="1.0" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve")
                            g
                                path(class="st0" d="M22,9.2H10c-0.6,0-1,0.4-1,1v8v5l4-4h9c0.6,0,1-0.4,1-1v-8C23,9.6,22.6,9.2,22,9.2 M22,18.2h-9.5L10,20.7V10.2 h12V18.2z")
                                path(class="st0" d="M21,8.2c0-0.6-0.4-1-1-1H8c-0.6,0-1,0.4-1,1v8v5l1-1v-1.5V8.2h12H21z")
            li.topnav-li
                a.topnav-a(href="#contact-us")
                    span Contact us
                    .icon-menu
                        svg(version="1.0" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve")
                            g
                                path( class="st0" d="M23,7.2l-6.3,16l-3.4-3.4l-1.4,2.4l-1.5-5L7,13.7L23,7.2z M16.2,20.9l4.5-10.8l-7.1,8.3L16.2,20.9z M12,19.6 l0.8-1.8l4.7-5.4l-6,4.5C11.7,17.9,12,19.6,12,19.6 M10.8,16.1l7.9-5.9l-9.6,4L10.8,16.1z")
        .nav-toggle
            span.icon-bar
            span.icon-bar
            span.icon-bar