header {
    background-color: #32a94a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.topnav-ul {
    z-index: 2;
    max-width: 720px;
    height: 100%;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    position: static;
    background-color: transparent;
}

.topnav-li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    width: initial;

    & a {
        height: 120px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 30px;
        margin-right: 30px;
        flex-wrap: nowrap;
        text-transform: uppercase;

        &:hover{
            color: black;
            border-bottom: 3px solid black;
        }
    }

}


.nav-toggle {
    display: none;
}

.menu-overlay.active {
    display: none;
}

.logo, .footer-logo {
    width: 240px;
    height: 80px;
    background-image: url(images/Logo_Forabilis-1.png);
    background-position: center;
    background-repeat: no-repeat;
}

.active-scroll {
    display: flex;
    position: fixed;
    right: 0px;
    top: 20%;
    flex-direction: column;
    width: 200px;
    height: 400px;
    align-items: flex-end;

    & a {
        height: 60px;
        margin: 0px;

        & span {
            display: none;
        }

        &:hover {
            border: none;
        }

        &:hover span{
            display: inline-block;
        }

        &:hover .icon-menu {
            background-color: #32a94a;
        }

        &:hover .icon-menu svg{
            fill:white;
        }

        & .icon-menu {
            margin-left: 20px;
            width: 50px;
            height: 50px;
            background-color: white;

            & svg {
                fill:black;
            }
        }
    }
}

.active-a {

    & span{
        display: inline-block !important;
    }

    & .icon-menu {
        background-color: #32a94a!important;
    }

    & .icon-menu svg{
        fill:white!important;
    }
}

@media only screen  and (max-width : 999px) {
    header {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
    }

.topnav-ul {
    max-width: 100%;
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: flex !important;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    position:fixed;
    top:0px;
    right:-100vh;
    transition: all 300ms ease-in-out;
    background-color:#32a94a;
    z-index: 9;
    }

    .nav-toggle {
        position:fixed;
        top:10px;
        right:10px;
        width:50px;
        height:50px;
        cursor:pointer;
        display:block;
        z-index: 10;
    }

    span.icon-bar {
        position:absolute;
        right:12px;
        display:block;
        width:26px;
        height:2px;
        background-color:#ffffff;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    .icon-bar:nth-child(1) {
        top:17px;
    }

    .icon-bar:nth-child(2) {
        top:24px;
    }

    .icon-bar:nth-child(3) {
        top:31px;
    }

    .nav-toggle.active .icon-bar:nth-child(1){
        top:24px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .nav-toggle.active .icon-bar:nth-child(2){
        width:0;
    }
    .nav-toggle.active .icon-bar:nth-child(3){
        top:24px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .topnav-ul.active {
            right: 0px;
        }

        .topnav-li {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            width:100%;
            padding-left: 50px;
            position: relative;
        }

        .topnav-a span{
            color: white;
            font-weight: bold;
        }
}

@media only screen  and (max-width : 499px) {
    .logo, .footer-logo {
        width: 170px;
        height: 70px;
        background-size: 140px;

    }
}