@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f2f2f2;
  font-family: 'Assistant', sans-serif;
  font-size: 22px;
  line-height: 1.5em;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

h2 {
  max-width: 600px;
  height: auto;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 75px;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.2em;
}

h2::after {
  content: "";
  display: block;
  width: 118px;
  height: 6px;
  background-color: #32a94a;
  border: none;
  margin-top: 35px;
}

.title-white {
  color: white;
}

.title-white::after {
  background-color: black;
}

@media only screen and (max-width: 749px) {
  h2 {
    font-size: 35px;
  }
  h2::after {
    width: 70px;
    height: 6px;
    margin-top: 35px;
  }
}

.cards-wrapper {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.qwadro {
  flex-wrap: wrap;
  max-width: 630px;
}

.cards-item {
  width: 280px;
  height: 250px;
  background-color: white;
  margin-right: 33px;
  margin-bottom: 33px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  flex-shrink: 0;
}

.cards-item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
}

h4 {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  padding-left: 10px;
}

.cards-item span {
  display: none;
  color: white;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.cards-item:hover {
  background-color: black;
}

.cards-item:hover h4 {
  display: none;
}

.cards-item:hover span {
  display: inline-block;
}

.qwadro .cards-item:hover {
  background-color: #32a94a;
}

.qwadro span {
  border-bottom: 2px dotted black;
}

@media only screen and (max-width: 1199px) {
  .cards-item {
    width: 180px;
    height: 150px;
  }
  .cards-item span {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 1.4em;
  }
  h4 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 499px) {
  .cards-item {
    width: 130px;
    height: 150px;
  }
}

@media only screen and (max-width: 399px) {
  .cards-item {
    width: 100px;
    height: 150px;
  }
  h4 {
    font-size: 15px;
  }
}

.talk {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.talk button {
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #32a94a;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
  outline: none;
}

.talk button:hover {
  background-color: #3ec459;
}

@media only screen and (max-width: 499px) {
  .talk button {
    margin-left: 10px;
  }
  .talk p {
    font-size: 20px;
  }
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.slider, .slider-mob {
  width: 70%;
  height: auto;
  position: relative;
}

.slider-item div {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  background-color: #f2f2f2;
}

.slider-item div div {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: end;
          align-items: flex-end;
  justify-content: space-around;
  text-align: left;
  height: auto;
  padding-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 30px;
}

.slick-prev:focus, .slick-next:focus {
  outline: none;
  background: #dadada;
}

.slick-prev, .slick-next {
  width: 130px;
  height: 130px;
  background: #dadada;
}

.slick-next {
  left: -130px !important;
}

.slick-prev {
  right: -130px !important;
}

.slick-prev:hover, .slick-next:hover {
  background-color: #32a94a;
}

.slick-prev:before, .slick-next:before {
  content: url(images/arrow-left.png) !important;
  width: 30px;
  height: 30px;
}

.slick-prev:before {
  content: url(images/arrow-right.png) !important;
}

.doted {
  border-left: 2px dotted black;
}

.slider-item p {
  margin: 0px;
}

.logo-client {
  display: -webkit-box;
  display: flex;
  width: 150px;
  height: 50px;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.logo-client img {
  width: 140px;
  height: auto;
}

.slider p.author span
, .slider-mob p.author span {
  font-weight: bold;
}

.slider p.author a span,
.slider-mob p.author a span {
  font-weight: normal;
  color: #32a94a;
}

.slider::after {
  content: "”";
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 250px;
  position: absolute !important;
  right: 20px;
  top: 50px;
  color: #dadada;
}

.slider-mob {
  display: none;
}

@media only screen and (max-width: 899px) {
  .slider-mob {
    display: block;
  }
  .slider {
    display: none;
  }
  .slick-prev, .slick-next {
    width: 50px;
    height: 50px;
    background: #dadada;
    top: unset;
  }
  .slick-next {
    left: 0px !important;
    right: unset;
    bottom: -25px;
  }
  .slick-prev {
    right: 0px !important;
    left: unset;
    bottom: -25px;
    z-index: 1;
  }
  .slider-item div div {
    padding-bottom: 50px;
  }
}

.clients-wrapper {
  display: -webkit-box;
  display: flex;
  width: 70%;
  height: 530px;
  flex-wrap: wrap;
  background-color: white;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.clients-wrapper a {
  width: 19%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.clients-wrapper a:hover img {
  opacity: 100;
  -webkit-filter: none;
          filter: none;
}

.clients-wrapper a img {
  width: 70%;
  height: auto;
  opacity: .5;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.clients-wrapper a .smaler-logo {
  width: 50%;
}

@media only screen and (max-width: 999px) {
  .clients-wrapper {
    width: 80%;
    height: auto;
  }
  .clients-wrapper a {
    width: 33%;
  }
  .clients-wrapper img {
    width: 60%;
  }
  .clients-wrapper .smaler-logo {
    width: 30%;
  }
}

@media only screen and (max-width: 499px) {
  .clients-wrapper {
    width: 90%;
    height: auto;
  }
  .clients-wrapper a {
    width: 45%;
  }
  .clients-wrapper img {
    width: 60%;
  }
  .clients-wrapper .smaler-logo {
    width: 30%;
  }
}

.goto {
  width: 100%;
  min-height: 100vh;
  background-image: url(images/goto.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.goto h2, .goto p {
  padding-top: 200px;
  margin-left: 15%;
}

.goto p {
  font-size: 30px;
  max-width: 350px;
  height: auto;
  padding-top: 20px;
}

.we-do {
  width: 100%;
  min-height: 100vh;
  background-image: url(images/wedo.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.we-do h2, .we-do .cards-wrapper {
  padding-top: 150px;
  margin-left: 15%;
}

.we-do .cards-wrapper {
  padding-top: 50px;
}

.we-do-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 899px) {
  .we-do-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
  }
  .we-do h2, .we-do .cards-wrapper {
    padding-top: 50px;
    margin-left: 10%;
  }
  .we-do .cards-wrapper {
    padding-top: 50px;
  }
}

.take-it {
  width: 100%;
  min-height: 100vh;
  background: white;
}

.take-it h2 {
  padding-top: 150px;
  margin-left: 15%;
}

.take-it .slider,
.take-it .slider-mob {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.take-it .clients-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#text {
  display: none;
}

#toggle {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 130px;
  height: 130px;
  background: #dadada;
  border: none;
  margin-left: 47%;
  outline: none;
  position: relative;
  font-size: 0px;
}

#toggle:before {
  content: url(images/arrow-right.png);
  position: absolute;
  display: -webkit-box;
  display: flex;
  top: 35%;
  left: 44%;
}

@media only screen and (max-width: 999px) {
  #toggle {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    width: 50px;
    height: 50px;
    margin-left: 40%;
  }
  #toggle:before {
    content: url(images/arrow-right.png);
    position: absolute;
    display: -webkit-box;
    display: flex;
    top: 15%;
    left: 34%;
  }
  .take-it h2 {
    padding-top: 50px;
    margin-left: 15%;
  }
}

.we-are {
  width: 100%;
  min-height: 100vh;
  background-image: url(images/we-are.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.we-are h2, .we-are h4, .we-are p, .we-are .cards-wrapper {
  padding-top: 150px;
  margin-left: 15%;
}

.we-are p {
  padding-top: 30px;
  max-width: 850px;
}

.we-are h4, .we-are .small {
  text-transform: none;
  max-width: 700px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.we-are .small {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 20px;
}

.we-are .small:after {
  display: none;
}

.we-are .cards-wrapper {
  padding-top: 30px;
}

@media only screen and (max-width: 599px) {
  .we-are .cards-wrapper .cards-item {
    width: 90%;
    height: auto;
    padding: 20px;
  }
}

.contact-us {
  width: 100%;
  height: auto;
  background-image: url(images/contact.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f2f2f2;
}

.contact-us h2 {
  padding-top: 200px;
  margin-left: 15%;
}

form {
  margin-left: 15%;
  width: 580px;
  height: 380px;
}

form input, form textarea {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 20px;
  padding-left: 20px;
}

form textarea {
  min-height: 130px;
  padding-top: 15px;
}

form #submit {
  width: 160px;
  height: 50px;
  padding-left: 0px;
  background-color: #32a94a;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

form #submit:hover {
  background-color: #3ec459;
}

.social img, .social a {
  width: 50px;
  height: 50px;
}

.social a:hover {
  opacity: 0.7;
}

.contact-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  height: auto;
}

.contact-side {
  padding-left: 30px;
  padding-top: 30px;
}

@media only screen and (max-width: 1199px) {
  .contact-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .contact-side {
    -webkit-box-ordinal-group: 2;
            order: 1;
    margin-left: 15%;
  }
  form {
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
}

@media only screen and (max-width: 749px) {
  form {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 380px;
  }
  .contact-us h2 {
    padding-top: 75px;
  }
}

header {
  background-color: #32a94a;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.topnav-ul {
  z-index: 2;
  max-width: 720px;
  height: 100%;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  justify-content: space-around;
  position: static;
  background-color: transparent;
}

.topnav-li {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  padding-left: 0px;
  width: initial;
}

.topnav-li a {
  height: 120px;
  color: black;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
  flex-wrap: nowrap;
  text-transform: uppercase;
}

.topnav-li a:hover {
  color: black;
  border-bottom: 3px solid black;
}

.nav-toggle {
  display: none;
}

.menu-overlay.active {
  display: none;
}

.logo, .footer-logo {
  width: 240px;
  height: 80px;
  background-image: url(images/Logo_Forabilis-1.png);
  background-position: center;
  background-repeat: no-repeat;
}

.active-scroll {
  display: -webkit-box;
  display: flex;
  position: fixed;
  right: 0px;
  top: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 200px;
  height: 400px;
  -webkit-box-align: end;
          align-items: flex-end;
}

.active-scroll a {
  height: 60px;
  margin: 0px;
}

.active-scroll a span {
  display: none;
}

.active-scroll a:hover {
  border: none;
}

.active-scroll a:hover span {
  display: inline-block;
}

.active-scroll a:hover .icon-menu {
  background-color: #32a94a;
}

.active-scroll a:hover .icon-menu svg {
  fill: white;
}

.active-scroll a .icon-menu {
  margin-left: 20px;
  width: 50px;
  height: 50px;
  background-color: white;
}

.active-scroll a .icon-menu svg {
  fill: black;
}

.active-a span {
  display: inline-block !important;
}

.active-a .icon-menu {
  background-color: #32a94a !important;
}

.active-a .icon-menu svg {
  fill: white !important;
}

@media only screen and (max-width: 999px) {
  header {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
  }
  .topnav-ul {
    max-width: 100%;
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: -webkit-box !important;
    display: flex !important;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    position: fixed;
    top: 0px;
    right: -100vh;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    background-color: #32a94a;
    z-index: 9;
  }
  .nav-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: block;
    z-index: 10;
  }
  span.icon-bar {
    position: absolute;
    right: 12px;
    display: block;
    width: 26px;
    height: 2px;
    background-color: #ffffff;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .icon-bar:nth-child(1) {
    top: 17px;
  }
  .icon-bar:nth-child(2) {
    top: 24px;
  }
  .icon-bar:nth-child(3) {
    top: 31px;
  }
  .nav-toggle.active .icon-bar:nth-child(1) {
    top: 24px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .nav-toggle.active .icon-bar:nth-child(2) {
    width: 0;
  }
  .nav-toggle.active .icon-bar:nth-child(3) {
    top: 24px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .topnav-ul.active {
    right: 0px;
  }
  .topnav-li {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
            justify-content: center;
    width: 100%;
    padding-left: 50px;
    position: relative;
  }
  .topnav-a span {
    color: white;
    font-weight: bold;
  }
}

@media only screen and (max-width: 499px) {
  .logo, .footer-logo {
    width: 170px;
    height: 70px;
    background-size: 140px;
  }
}

.footer-logo {
  background-image: url(images/Logo_Forabilis-2.png);
}

.footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  background-color: #f2f2f2;
}

@media only screen and (max-width: 1199px) {
  .footer {
    display: none;
  }
}
