.clients-wrapper {
    display: flex;
    width: 70%;
    height: 530px;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-between;
    align-items: center;

    & a {
        width: 19%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;


        &:hover img {
            opacity: 100;
            filter: none;

        }

        & img {
            width: 70%;
            height: auto;
            opacity: .5;
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
        }

        .smaler-logo {
            width: 50%;
        }
    }
}


@media only screen  and (max-width : 999px) {
    .clients-wrapper {

        width: 80%;
        height: auto;

        & a {
            width: 33%;
            }

            & img {
                width: 60%;
            }
            .smaler-logo {
                width: 30%;
            }
        }
    }

    @media only screen  and (max-width : 499px) {
        .clients-wrapper {

            width: 90%;
            height: auto;

            & a {
                width: 45%;
                }

                & img {
                    width: 60%;
                }
                .smaler-logo {
                    width: 30%;
                }
            }
        }