.clients-wrapper
    a(href="/", target="_blank", rel="noopener noreferrer")
        img(class="smaler-logo" src="images/Ness-Logo-1.png", alt="", srcset="")
    a(href="/", target="_blank", rel="noopener noreferrer")
        img(src="images/mobilibuy_logo-1.png", alt="", srcset="")
    a(href="/", target="_blank", rel="noopener noreferrer")
        img(src="images/payoneer-1.png", alt="", srcset="")
    a(href="/", target="_blank", rel="noopener noreferrer")
        img(src="images/SAP-logo-1.png", alt="", srcset="")
    a(href="/", target="_blank", rel="noopener noreferrer")
        img(src="images/Splacer-logo2-clean-notext-2.png", alt="", srcset="")
    a(href="/", target="_blank", rel="noopener noreferrer")
        img(src="images/Transpro-logo.png", alt="", srcset="")
    a(href="/", target="_blank", rel="noopener noreferrer")
        img(src="images/Votiro-Logo-new-2.png", alt="", srcset="")
    a(href="/", target="_blank", rel="noopener noreferrer")
        img(class="smaler-logo" src="images/weblogo_verix.png", alt="", srcset="")
    a(href="/", target="_blank", rel="noopener noreferrer")
        img(src="images/Grymco-logo-blue-1.png", alt="", srcset="")
    a(href="/", target="_blank", rel="noopener noreferrer")
        img(src="images/logo-stykey.png", alt="", srcset="")
    a(href="/", target="_blank", rel="noopener noreferrer")
        img(src="images/EMC-logo-1.png", alt="", srcset="")
    a(href="/", target="_blank", rel="noopener noreferrer")
        img(src="images/Infolio_logo.png", alt="", srcset="")
    a(href="/", target="_blank", rel="noopener noreferrer")
        img(src="images/iConduct_logo.png", alt="", srcset="")
    a(href="/", target="_blank", rel="noopener noreferrer")
        img(src="images/arbe-Logo-1-2.png", alt="", srcset="")
    a(href="/", target="_blank", rel="noopener noreferrer")
        img(class="smaler-logo" src="images/weblogo_AllCloud.png", alt="", srcset="")
