.talk {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.talk button {
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #32a94a;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
  outline: none;
}

.talk button:hover {
  background-color: #3ec459;
}

@media only screen and (max-width: 499px) {
  .talk button {
    margin-left: 10px;
  }
  .talk p {
    font-size: 20px;
  }
}
