.we-do#expertise
    h2 What we do
    .we-do-wrapper
        .cards-wrapper.qwadro
            .cards-item
                
                    h4 Positioning <br/>
                        |&<br/>
                        |Messaging
                    span Lorem ipsum dolor sit.
                    span Lorem ipsum dolor siLo rem ipsum.
                    span Lorem ipsum dolor ipsum dolor siLo sit.
            .cards-item
                
                    h4 Yearly<br/>
                        |marceting<br/>
                        |planing
                    span Lorem ipsum dolor sit.
                    span Lorem ipsum dolor siLo rem ipsum.
                    span Lorem ipsum dolor ipsum dolor siLo sit.
            .cards-item
                
                    h4 Content <br/>
                        |creating<br/>

                    span Lorem ipsum dolor sit.
                    span Lorem ipsum dolor siLo rem ipsum.
                    span Lorem ipsum dolor ipsum dolor siLo sit.
            .cards-item
                
                    h4 Dedication
                    span Lorem ipsum dolor sit.
                    span Lorem ipsum dolor siLo rem ipsum.
                    span Lorem ipsum dolor ipsum dolor siLo sit.
        include ../letstalk/letstalk
