.we-do{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/wedo.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    & h2, .cards-wrapper {
        padding-top: 150px;
        margin-left: 15%;
   }

   & .cards-wrapper{
       padding-top: 50px;
   }
}

.we-do-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

@media only screen  and (max-width : 899px) {
    .we-do-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .we-do{

        & h2, .cards-wrapper {
            padding-top: 50px;
            margin-left: 10%;
       }

       & .cards-wrapper{
           padding-top: 50px;
       }
    }
}

