@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700&display=swap');

* { box-sizing: border-box; }

body {
    margin: 0;
    background-color: #f2f2f2;
    font-family: 'Assistant', sans-serif;
    font-size: 22px;
    line-height: 1.5em;
    // scroll-behavior: smooth;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }

  a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }