
<div class="take-it" id="clients">
    <h2>Take it from them</h2>
    <div class="slider" dir="rtl">
        <div class="slider-item">
            <div>
                <div class="doted">
                    <section class="logo-client"><img src="images/Grymco-logo-blue-1.png" alt="stykey" srcset=""/></section>
                    <p>1  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.</p>
                    <p class="author"><span>Mati Cohen <br/></span>CTO .<a href="/" target="_blank" rel="noopener noreferrer"><span> Panaya</span></a></p>
                </div>
                <div>
                    <section class="logo-client"><img src="images/logo-stykey.png" alt="stykey" srcset=""/></section>
                    <p> 2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.</p>
                    <p class="author"><span>Mati Cohen <br/></span>CTO .<a href="/" target="_blank" rel="noopener noreferrer"><span> Panaya</span></a></p>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <div>
                <div class="doted">
                    <section class="logo-client"><img src="images/Splacer-logo2-clean-notext-2.png" alt="stykey" srcset=""/></section>
                    <p> 3 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.</p>
                    <p class="author"><span>Mati Cohen <br/></span>CTO .<a href="/" target="_blank" rel="noopener noreferrer"><span> Panaya</span></a></p>
                </div>
                <div>
                    <section class="logo-client"><img src="images/Infolio_logo.png" alt="stykey" srcset=""/></section>
                    <p> 4 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.</p>
                    <p class="author"><span>Mati Cohen <br/></span>CTO .<a href="/" target="_blank" rel="noopener noreferrer"><span> Panaya</span></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-mob" dir="rtl">
        <div class="slider-item">
            <div>
                <div>
                    <section class="logo-client"><img src="images/Grymco-logo-blue-1.png" alt="stykey" srcset=""/></section>
                    <p>1  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.</p>
                    <p class="author"><span>Mati Cohen <br/></span>CTO .<a href="/" target="_blank" rel="noopener noreferrer"><span> Panaya</span></a></p>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <div>
                <div>
                    <section class="logo-client"><img src="images/logo-stykey.png" alt="stykey" srcset=""/></section>
                    <p> 2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.</p>
                    <p class="author"><span>Mati Cohen <br/></span>CTO .<a href="/" target="_blank" rel="noopener noreferrer"><span> Panaya</span></a></p>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <div>
                <div>
                    <section class="logo-client"><img src="images/Splacer-logo2-clean-notext-2.png" alt="stykey" srcset=""/></section>
                    <p> 3 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.</p>
                    <p class="author"><span>Mati Cohen <br/></span>CTO .<a href="/" target="_blank" rel="noopener noreferrer"><span> Panaya</span></a></p>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <div>
                <div>
                    <section class="logo-client"><img src="images/Infolio_logo.png" alt="stykey" srcset=""/></section>
                    <p> 4 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque veritatis ipsa facilis dicta quasi vitae libero eos nisi incidunt voluptatem neque numquam earum.</p>
                    <p class="author"><span>Mati Cohen <br/></span>CTO .<a href="/" target="_blank" rel="noopener noreferrer"><span> Panaya</span></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="clients-wrapper"><a href="/" target="_blank" rel="noopener noreferrer"><img class="smaler-logo" src="images/Ness-Logo-1.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/mobilibuy_logo-1.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/payoneer-1.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/SAP-logo-1.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/Splacer-logo2-clean-notext-2.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/Transpro-logo.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/Votiro-Logo-new-2.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img class="smaler-logo" src="images/weblogo_verix.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/Grymco-logo-blue-1.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/logo-stykey.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/EMC-logo-1.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/Infolio_logo.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/iConduct_logo.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/arbe-Logo-1-2.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img class="smaler-logo" src="images/weblogo_AllCloud.png" alt="" srcset=""/></a></div>
    <div id="text">
        <div class="clients-wrapper"><a href="/" target="_blank" rel="noopener noreferrer"><img class="smaler-logo" src="images/Ness-Logo-1.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/mobilibuy_logo-1.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/payoneer-1.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/SAP-logo-1.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/Splacer-logo2-clean-notext-2.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/Transpro-logo.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/Votiro-Logo-new-2.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img class="smaler-logo" src="images/weblogo_verix.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/Grymco-logo-blue-1.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/logo-stykey.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/EMC-logo-1.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/Infolio_logo.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/iConduct_logo.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img src="images/arbe-Logo-1-2.png" alt="" srcset=""/></a><a href="/" target="_blank" rel="noopener noreferrer"><img class="smaler-logo" src="images/weblogo_AllCloud.png" alt="" srcset=""/></a></div>
    </div>
    <button id="toggle"></button>
</div>