.take-it {
  width: 100%;
  min-height: 100vh;
  background: white;
}

.take-it h2 {
  padding-top: 150px;
  margin-left: 15%;
}

.take-it .slider,
.take-it .slider-mob {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.take-it .clients-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#text {
  display: none;
}

#toggle {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 130px;
  height: 130px;
  background: #dadada;
  border: none;
  margin-left: 47%;
  outline: none;
  position: relative;
  font-size: 0px;
}

#toggle:before {
  content: url(images/arrow-right.png);
  position: absolute;
  display: -webkit-box;
  display: flex;
  top: 35%;
  left: 44%;
}

@media only screen and (max-width: 999px) {
  #toggle {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    width: 50px;
    height: 50px;
    margin-left: 40%;
  }
  #toggle:before {
    content: url(images/arrow-right.png);
    position: absolute;
    display: -webkit-box;
    display: flex;
    top: 15%;
    left: 34%;
  }
  .take-it h2 {
    padding-top: 50px;
    margin-left: 15%;
  }
}
