.goto{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/goto.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    & h2,p {
        padding-top: 200px;
        margin-left: 15%;
    }

    & p {
        font-size: 30px;
        max-width: 350px;
        height: auto;
        padding-top: 20px;
    }
}

