.we-are{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/we-are.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    & h2, h4, p, .cards-wrapper {
        padding-top: 150px;
        margin-left: 15%;
   }

   & p {
       padding-top: 30px;
       max-width: 850px;
   }

   & h4, .small {
       text-transform: none;
       max-width: 700px;
       padding-top: 0px;
       margin-top: 0px;
       margin-bottom: 0px;
       padding-left: 0px;
   }

   .small {
       font-size: 30px;
       font-weight: 400;
       text-transform: uppercase;
       margin-top: 20px;

       &:after{
            display: none;
        }
   }

   & .cards-wrapper {
    padding-top: 30px;
   }
}

@media only screen  and (max-width : 599px) {
    .we-are .cards-wrapper .cards-item {
        width: 90%;
        height: auto;
        padding: 20px;
       }
}