
<div class="cards-wrapper">
    <div class="cards-item"><a href="/" target="_blank" rel="noopener noreferrer">
            <h4>Dedication</h4><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi itaque unde doloribus eius quam deserunt dolore.</span></a></div>
    <div class="cards-item"><a href="/" target="_blank" rel="noopener noreferrer">
            <h4>Quality</h4><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi itaque unde doloribus eius quam deserunt dolore.</span></a></div>
    <div class="cards-item"><a href="/" target="_blank" rel="noopener noreferrer">
            <h4>Something</h4><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi itaque unde doloribus eius quam deserunt dolore.</span></a></div>
</div>
<div class="cards-wrapper qwadro">
    <div class="cards-item"><a href="/" target="_blank" rel="noopener noreferrer">
            <h4>Dedication</h4><span>Lorem ipsum dolor sit.</span><span>Lorem ipsum dolor siLo rem ipsum.</span><span>Lorem ipsum dolor ipsum dolor siLo sit.</span></a></div>
    <div class="cards-item"><a href="/" target="_blank" rel="noopener noreferrer">
            <h4>Dedication</h4><span>Lorem ipsum dolor sit.</span><span>Lorem ipsum dolor siLo rem ipsum.</span><span>Lorem ipsum dolor ipsum dolor siLo sit.</span></a></div>
    <div class="cards-item"><a href="/" target="_blank" rel="noopener noreferrer">
            <h4>Dedication</h4><span>Lorem ipsum dolor sit.</span><span>Lorem ipsum dolor siLo rem ipsum.</span><span>Lorem ipsum dolor ipsum dolor siLo sit.</span></a></div>
    <div class="cards-item"><a href="/" target="_blank" rel="noopener noreferrer">
            <h4>Dedication</h4><span>Lorem ipsum dolor sit.</span><span>Lorem ipsum dolor siLo rem ipsum.</span><span>Lorem ipsum dolor ipsum dolor siLo sit.</span></a></div>
</div>