.contact-us {
  width: 100%;
  height: auto;
  background-image: url(images/contact.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f2f2f2;
}

.contact-us h2 {
  padding-top: 200px;
  margin-left: 15%;
}

form {
  margin-left: 15%;
  width: 580px;
  height: 380px;
}

form input, form textarea {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 20px;
  padding-left: 20px;
}

form textarea {
  min-height: 130px;
  padding-top: 15px;
}

form #submit {
  width: 160px;
  height: 50px;
  padding-left: 0px;
  background-color: #32a94a;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

form #submit:hover {
  background-color: #3ec459;
}

.social img, .social a {
  width: 50px;
  height: 50px;
}

.social a:hover {
  opacity: 0.7;
}

.contact-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  height: auto;
}

.contact-side {
  padding-left: 30px;
  padding-top: 30px;
}

@media only screen and (max-width: 1199px) {
  .contact-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .contact-side {
    -webkit-box-ordinal-group: 2;
            order: 1;
    margin-left: 15%;
  }
  form {
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
}

@media only screen and (max-width: 749px) {
  form {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 380px;
  }
  .contact-us h2 {
    padding-top: 75px;
  }
}
