.footer-logo {
  background-image: url(images/Logo_Forabilis-2.png);
}

.footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  background-color: #f2f2f2;
}

@media only screen and (max-width: 1199px) {
  .footer {
    display: none;
  }
}
