.we-do {
  width: 100%;
  min-height: 100vh;
  background-image: url(images/wedo.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.we-do h2, .we-do .cards-wrapper {
  padding-top: 150px;
  margin-left: 15%;
}

.we-do .cards-wrapper {
  padding-top: 50px;
}

.we-do-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 899px) {
  .we-do-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
  }
  .we-do h2, .we-do .cards-wrapper {
    padding-top: 50px;
    margin-left: 10%;
  }
  .we-do .cards-wrapper {
    padding-top: 50px;
  }
}
