
<div class="we-do" id="expertise">
    <h2>What we do</h2>
    <div class="we-do-wrapper">
        <div class="cards-wrapper qwadro">
            <div class="cards-item">
                <h4>
                    Positioning <br/>&<br/>
                    Messaging
                </h4><span>Lorem ipsum dolor sit.</span><span>Lorem ipsum dolor siLo rem ipsum.</span><span>Lorem ipsum dolor ipsum dolor siLo sit.</span>
            </div>
            <div class="cards-item">
                <h4>
                    Yearly<br/>marceting<br/>
                    planing
                </h4><span>Lorem ipsum dolor sit.</span><span>Lorem ipsum dolor siLo rem ipsum.</span><span>Lorem ipsum dolor ipsum dolor siLo sit.</span>
            </div>
            <div class="cards-item">
                <h4>
                    Content <br/>creating<br/></h4><span>Lorem ipsum dolor sit.</span><span>Lorem ipsum dolor siLo rem ipsum.</span><span>Lorem ipsum dolor ipsum dolor siLo sit.</span>
            </div>
            <div class="cards-item">
                <h4>Dedication</h4><span>Lorem ipsum dolor sit.</span><span>Lorem ipsum dolor siLo rem ipsum.</span><span>Lorem ipsum dolor ipsum dolor siLo sit.</span>
            </div>
        </div>
        <div class="talk">
            <p>Ready to hear some more?</p>
            <button>Let's talk</button>
        </div>
    </div>
</div>