header {
  background-color: #32a94a;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.topnav-ul {
  z-index: 2;
  max-width: 720px;
  height: 100%;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  justify-content: space-around;
  position: static;
  background-color: transparent;
}

.topnav-li {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  padding-left: 0px;
  width: initial;
}

.topnav-li a {
  height: 120px;
  color: black;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
  flex-wrap: nowrap;
  text-transform: uppercase;
}

.topnav-li a:hover {
  color: black;
  border-bottom: 3px solid black;
}

.nav-toggle {
  display: none;
}

.menu-overlay.active {
  display: none;
}

.logo, .footer-logo {
  width: 240px;
  height: 80px;
  background-image: url(images/Logo_Forabilis-1.png);
  background-position: center;
  background-repeat: no-repeat;
}

.active-scroll {
  display: -webkit-box;
  display: flex;
  position: fixed;
  right: 0px;
  top: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 200px;
  height: 400px;
  -webkit-box-align: end;
          align-items: flex-end;
}

.active-scroll a {
  height: 60px;
  margin: 0px;
}

.active-scroll a span {
  display: none;
}

.active-scroll a:hover {
  border: none;
}

.active-scroll a:hover span {
  display: inline-block;
}

.active-scroll a:hover .icon-menu {
  background-color: #32a94a;
}

.active-scroll a:hover .icon-menu svg {
  fill: white;
}

.active-scroll a .icon-menu {
  margin-left: 20px;
  width: 50px;
  height: 50px;
  background-color: white;
}

.active-scroll a .icon-menu svg {
  fill: black;
}

.active-a span {
  display: inline-block !important;
}

.active-a .icon-menu {
  background-color: #32a94a !important;
}

.active-a .icon-menu svg {
  fill: white !important;
}

@media only screen and (max-width: 999px) {
  header {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
  }
  .topnav-ul {
    max-width: 100%;
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: -webkit-box !important;
    display: flex !important;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    position: fixed;
    top: 0px;
    right: -100vh;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    background-color: #32a94a;
    z-index: 9;
  }
  .nav-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: block;
    z-index: 10;
  }
  span.icon-bar {
    position: absolute;
    right: 12px;
    display: block;
    width: 26px;
    height: 2px;
    background-color: #ffffff;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .icon-bar:nth-child(1) {
    top: 17px;
  }
  .icon-bar:nth-child(2) {
    top: 24px;
  }
  .icon-bar:nth-child(3) {
    top: 31px;
  }
  .nav-toggle.active .icon-bar:nth-child(1) {
    top: 24px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .nav-toggle.active .icon-bar:nth-child(2) {
    width: 0;
  }
  .nav-toggle.active .icon-bar:nth-child(3) {
    top: 24px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .topnav-ul.active {
    right: 0px;
  }
  .topnav-li {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
            justify-content: center;
    width: 100%;
    padding-left: 50px;
    position: relative;
  }
  .topnav-a span {
    color: white;
    font-weight: bold;
  }
}

@media only screen and (max-width: 499px) {
  .logo, .footer-logo {
    width: 170px;
    height: 70px;
    background-size: 140px;
  }
}
