@charset "UTF-8";
.slider, .slider-mob {
  width: 70%;
  height: auto;
  position: relative;
}

.slider-item div {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  background-color: #f2f2f2;
}

.slider-item div div {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: end;
          align-items: flex-end;
  justify-content: space-around;
  text-align: left;
  height: auto;
  padding-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 30px;
}

.slick-prev:focus, .slick-next:focus {
  outline: none;
  background: #dadada;
}

.slick-prev, .slick-next {
  width: 130px;
  height: 130px;
  background: #dadada;
}

.slick-next {
  left: -130px !important;
}

.slick-prev {
  right: -130px !important;
}

.slick-prev:hover, .slick-next:hover {
  background-color: #32a94a;
}

.slick-prev:before, .slick-next:before {
  content: url(images/arrow-left.png) !important;
  width: 30px;
  height: 30px;
}

.slick-prev:before {
  content: url(images/arrow-right.png) !important;
}

.doted {
  border-left: 2px dotted black;
}

.slider-item p {
  margin: 0px;
}

.logo-client {
  display: -webkit-box;
  display: flex;
  width: 150px;
  height: 50px;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.logo-client img {
  width: 140px;
  height: auto;
}

.slider p.author span
, .slider-mob p.author span {
  font-weight: bold;
}

.slider p.author a span,
.slider-mob p.author a span {
  font-weight: normal;
  color: #32a94a;
}

.slider::after {
  content: "”";
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 250px;
  position: absolute !important;
  right: 20px;
  top: 50px;
  color: #dadada;
}

.slider-mob {
  display: none;
}

@media only screen and (max-width: 899px) {
  .slider-mob {
    display: block;
  }
  .slider {
    display: none;
  }
  .slick-prev, .slick-next {
    width: 50px;
    height: 50px;
    background: #dadada;
    top: unset;
  }
  .slick-next {
    left: 0px !important;
    right: unset;
    bottom: -25px;
  }
  .slick-prev {
    right: 0px !important;
    left: unset;
    bottom: -25px;
    z-index: 1;
  }
  .slider-item div div {
    padding-bottom: 50px;
  }
}
