<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="style.css")
        script(src="//code.jquery.com/jquery-1.11.0.min.js" defer)
        script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js" defer)
        script(src="slick.js" defer)
        script(src="app.js" defer)

    body
        include section-goto/section-goto
        include section-what-we-do/section-what-we-do
        include section-take-it/section-take-it
        include section-who-we-are/section-who-we-are
        include section-contact-us/section-contact-us
        include footer/footer
