.footer-logo {
    background-image: url(images/Logo_Forabilis-2.png);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
}

@media only screen  and (max-width : 1199px) {
    .footer {
        display: none;
    }
}
