
<div class="we-are" id="about">
    <h2 class="title-white">Who we are</h2>
    <p class="title-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur minus cupiditate illum dicta veritatis, ullam possimus temporibus minima dolorum placeat eos ea fugiat quisquam repellat asperiores amet voluptatibus, facere dolor?</p>
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, voluptatibus.</h4>
    <h2 class="title-white small">Our values</h2>
    <div class="cards-wrapper">
        <div class="cards-item">
            <h4>Dedication</h4><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi itaque unde doloribus eius quam deserunt dolore.</span>
        </div>
        <div class="cards-item">
            <h4>Quality</h4><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi itaque unde doloribus eius quam deserunt dolore.</span>
        </div>
        <div class="cards-item">
            <h4>Something</h4><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi itaque unde doloribus eius quam deserunt dolore.</span>
        </div>
    </div>
</div>