.clients-wrapper {
  display: -webkit-box;
  display: flex;
  width: 70%;
  height: 530px;
  flex-wrap: wrap;
  background-color: white;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.clients-wrapper a {
  width: 19%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.clients-wrapper a:hover img {
  opacity: 100;
  -webkit-filter: none;
          filter: none;
}

.clients-wrapper a img {
  width: 70%;
  height: auto;
  opacity: .5;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.clients-wrapper a .smaler-logo {
  width: 50%;
}

@media only screen and (max-width: 999px) {
  .clients-wrapper {
    width: 80%;
    height: auto;
  }
  .clients-wrapper a {
    width: 33%;
  }
  .clients-wrapper img {
    width: 60%;
  }
  .clients-wrapper .smaler-logo {
    width: 30%;
  }
}

@media only screen and (max-width: 499px) {
  .clients-wrapper {
    width: 90%;
    height: auto;
  }
  .clients-wrapper a {
    width: 45%;
  }
  .clients-wrapper img {
    width: 60%;
  }
  .clients-wrapper .smaler-logo {
    width: 30%;
  }
}
