.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.qwadro {
    flex-wrap: wrap;
    max-width: 630px;
}

.cards-item {
    width: 280px;
    height: 250px;
    background-color: white;
    margin-right: 33px;
    margin-bottom: 33px;
    transition: 0.6s;
    flex-shrink: 0;

    & a{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

h4 {
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    padding-left: 10px;
}

.cards-item span {
    display: none;
    color: white;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.cards-item:hover {
    background-color: black;
}

.cards-item:hover h4 {
    display: none;
}

.cards-item:hover span {
    display: inline-block;
}

.qwadro .cards-item:hover {
    background-color: #32a94a;
}

.qwadro span {

    border-bottom: 2px dotted black;
}

@media only screen  and (max-width : 1199px) {
    .cards-item {
        width: 180px;
        height: 150px;

        & span {
            font-size: 12px;
            margin-left: 5px;
            margin-right: 5px;
            line-height: 1.4em;
        }
    }

    h4 {
        font-size: 20px;
    }
}

@media only screen  and (max-width : 499px) {
    .cards-item {
        width: 130px;
        height: 150px
    }
}

@media only screen  and (max-width : 399px) {
    .cards-item {
        width: 100px;
        height: 150px
    }

    h4 {
        font-size: 15px;
    }
}
